@main("Photos") {
	<div class="page-header" id="page_header">
		@if(flash.contains("success")) {
			<p class="alert alert-success">@flash.get("success")</p>
		}
		@if(flash.contains("error")) {
			<p class="alert alert-error alert-warning">@flash.get("error")</p>
		}
	</div>

	@for(p <- Application.getStorage().getPhotos().iterator()) {
		<a href="@routes.Application.viewPhoto(p.getImageHash(), p.getDate())" data-toggle="modal">
			<img src="data:image/jpeg;base64,@p.getContentsBase64()" class="photo-preview" />
		</a>		
	}
}
